@model SH_TestApplication.Models.LoginViewModel

@{
	ViewData["Title"] = "Login";
}

<h2 class="mb-3">@ViewData["Title"]</h2>
<div class="row">
	<div class="col-md-3">
		<form asp-controller="Account" asp-action="Login" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			@if (!string.IsNullOrEmpty(ViewBag.Message))
			{
				<span class="text-danger">@ViewBag.Message</span>
			}
			<div class="mb-3">
				<label asp-for="UserName" class="form-label" for="UserName"></label>
				<input asp-for="UserName" class="form-control" id="UserName"/>
				<span asp-validation-for="UserName" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Password" class="form-label" for="Password"></label>
				<input asp-for="Password" class="form-control" id="Password" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<input type="submit" value="Login" class="btn btn-primary" />
		</form>
	</div>
</div>